.App {
  text-align: center;
}

h1 {
  /* background-color: #A6D6D6; */
  color: #8E7DBE;
  /* font-family: "Libre Baskerville", serif; */
  font-family: "Lovers Quarrel", cursive;
  margin: 1em;
  font-size: 6em;
}
