body {
  background-image: linear-gradient(
      rgba(247, 207, 216, .75),
      rgba(166, 214, 214, .75)
    ),
    url("/public/ipe300.jpg");
  background-color: linear-gradient(
      rgba(247, 207, 216, .75),
      rgba(166, 214, 214, .75)
    );
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

/**************************************************** APP.JS ****************************************************/

.top {
  background-color: #6d55aa;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: .5em;
}

a.link {
  color: #F4F8D3;
  font-family: "Acme", sans-serif;
  font-size: 1.25em;
  padding: 0 2em;
}

h1 {
  color: #6d55aa;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 6em;
  text-align: center;
}

h2 {
  text-align: center;
  color: #6d55aa;
  font-family: "Acme", sans-serif;
  margin: .5em 0 0;
}

h3 {
  text-align: center;
  color: #6d55aa;
  font-family: "Libre Baskerville", serif;
  margin: .5em 0 0;
}

h4 {
  text-align: center;
  margin: .75em 0 0;
}

img {
  float: left;
  margin-bottom: 1em;
  height: 15em;
  width: auto;
}

p {
  text-align: justify;
  word-break: break-word;
  font-family: "Libre Baskerville", serif;
  color: #022e57;
  margin: 0;
  padding: 1em;
}

a {
  cursor: pointer;
  color: #6d55aa;
  font-weight: 700;
  text-decoration: none;
}

/**************************************************** MAIN ****************************************************/
:root {
  --star-size: 2.25em;
  --star-color: #387a7a;
  --star-background: #e8e0eb;
  /* --emoji-color: rgba(244, 248, 211, 0);
  --emoji-background: rgba(166, 214, 214, .85); rgba(247, 207, 216, .75); */
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  font-size: var(--star-size);
  width: 100%;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.Stars::before {
  content: "★★★★★";
  background: linear-gradient(
    90deg,
    var(--star-color) var(--percent),
    var(--star-background) var(--percent)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .emoji {
  --percent: calc(var(--rating) / 5 * 100%);
  width: 15em;
  margin: .5em 0 0;
} */

/* .emoji::before {
  content: '';
  display: block;
  height: 2.5em;
  width: auto;
  background-image: linear-gradient(
    90deg,
    var(--emoji-color) var(--percent),
    var(--emoji-background) var(--percent)
    ),
    url("/src/scale.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
} */

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 4em;
  background-color: rgba(244, 248, 211, .65);
  border-radius: 2em;
}

.summary {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgba(166, 214, 214, .65);
  /* width: 35%; */
  padding: 2em;
  margin: 2em;
  border-radius: 2em;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: .25em; */
  margin: auto;
}

.description {
  flex: 2.5;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  background-color: rgba(247, 207, 216, .5);
  padding: 2em;
  margin: 2em;
  border-radius: 2em;
}

.items {
  flex: 1;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  color: #022e57;
  padding: 1em;
}

/**************************************************** MEET US ****************************************************/

.meetUsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pfp {
  max-height: 100px;
  width: auto;
  border-radius: 50%;
  margin: 1em;
}

.bensmom33, .estr19 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(244, 248, 211, .65);
  padding:2em;
  margin: 2em;
  border-radius: 2em;
}

.Top20 {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-evenly;
}

.eachTop20 {
  max-height: 150px;
  width: auto;
  margin: .5em;
}

/**************************************************** RWRB ****************************************************/

.RWRB {
  background-image: linear-gradient(
      rgba(247, 207, 216, .75),
      rgba(166, 214, 214, .75)
    ),
    url("/public/rwrbbookssq.jpg");
  background-attachment: fixed;
  height: fit-content;
  margin: 0;
  padding: 0 0 2em;
}

#RWRBH1 {
  color: #6d55aa;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 5em;
  text-align: center;
  margin: 0 0 .75em;
  padding: .75em 0 0;
}

.conversation {
  background-color: rgba(244, 248, 211, .65);
  border-radius: 2em;
  margin: 2em 4em 0;
  padding: 2em;
}

.bensmom33Img {
  float: left;
  border-radius: 50%;
  margin: 0;
  max-height: 50px;
  width: auto;
}

.estr19Img {
  float: right;
  border-radius: 50%;
  margin: 0;
  max-height: 50px;
  width: auto;
}

.chatP {
  text-indent: 2em;
  white-space: pre-line;
  margin: .3em;
  padding: .25em 1em 1em;
}

.quoteHeader {
  text-align: left;
  margin-left: 1.5em;
}

span {
  background-color: rgba(250, 252, 233, .65);
}

.bensmom33pfp {
  display: flex;
  flex-direction: row;
  background-color: rgba(166, 214, 214, .65);
  margin: 1em 2em;
  padding: 1em;
  border-radius: 2em;
  width: 80%;
}

.estr19pfp {
  float: right;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgba(247, 207, 216, .5);
  margin: 1em 2em;
  padding: 1em;
  border-radius: 2em;
  width: 80%;
}

/**************************************************** CONTACT US ****************************************************/

body {
  display: flex;
  flex-direction: column;
}

.contactUs {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgba(244, 248, 211, .65);
  width: 35%;
  border-radius: 2em;
  margin: 2em 4em 0;
  padding: 2em;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgba(166, 214, 214, .65);
  border-radius: 2em;
  padding: 1em;
  margin: 2em 1em 0;
  width: 80%;
}

input, textarea {
  background: rgba(247, 207, 216, .75);
  color: #000000;
  border: none;
  border-radius: 1.25em;
  margin: 1em 1em 0;
  padding: .75em;
  text-align: center;
}

#submit {
  background-color: #6d55aa;
  color: #F4F8D3;
  font-family: "Acme", sans-serif;
  font-size: 1.25em;
  margin: 1.5em 1em 1em;
  padding: 0 2em;
  width: 45%;
}

/**************************************************** MAX 900px ****************************************************/

@media all and (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .meetUsContainer {
    flex-direction: column;
    justify-content: space-around;
  }

  .container {
    width: 100%;
  }

  h1 {
    font-size: 5em;
    margin: .5em;
    text-align: center;
    word-break: break-word;
  }

  p {
    flex: 1;
    /* text-align: center; */
    word-break: break-word;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .summary {
    width: 75%;
    padding: 2em;
    margin: 2em;
    border-radius: 2em;
  }

  img {
    width: 100%;
    height: auto;
  }

  .bensmom33pfp, .estr19pfp {
    margin: 1em;
  }

  .contactUs {
    width: 75%;
  }

  form {
    width: 75%;
  }

  #submit {
    width: 45%;
  }

}

/**************************************************** MAX 500px ****************************************************/

@media all and (max-width: 500px) {
  body {
    font-size: 9px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0;
    width: 95%;
  }

  h1 {
    text-align: center;
    word-break: break-word;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .items {
    font-size: 1.5em;
  }

  .eachTop20 {
    max-height: 80px;
    width: auto;
    margin: .5em;
  }
}
