body {
  background-image: linear-gradient(
      rgba(252, 233, 237, .35),
      rgba(247, 207, 216, .35)
    ),
    url("/public/ipe300.jpg");
  /* background-color: #171d2d; */
  background-attachment: fixed;
  margin: 0;
}

:root {
  --star-size: 2.25em;
  --star-color: #8e7dbe;
  --star-background: #a6d6d6;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  font-size: var(--star-size);
  width: 100%;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.Stars::before {
  content: "★★★★★";
  background: linear-gradient(
    90deg,
    var(--star-color) var(--percent),
    var(--star-background) var(--percent)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  /* background-color: #A6D6D6; */
  color: #8E7DBE;
  /* font-family: "Libre Baskerville", serif; */
  /* font-family: "Lovers Quarrel", cursive; */
  /* font-family: "Acme", sans-serif; */
  font-family: "Mouse Memoirs", sans-serif;
  margin: 1em;
  font-size: 6em;
  text-align: center;
}

h2, h3 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
  margin: 10px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .25em;
  margin: auto;
}

.blogEntry {
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: rgba(244, 248, 211, .85);
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em;
  /* width: 230px; */
}

img {
  /* border: 4mm ridge #9b72aa; */
  float: left;
  margin-bottom: 10px;
  height: 15em;
  width: auto;
}

p {
  flex: 1;
  text-align: justify;
  word-break: break-word;
  font-family: "Libre Baskerville", serif;
  color: #022e57;
  margin: 0px;
  padding: 1em;
}

a {
  cursor: pointer;
  color: #ea7b93;
  text-decoration: none;
  width: 30%;
  margin: 2em;
}

@media all and (max-width: 900px) {
  body {
    font-size: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header {
    display: flex;
    flex-flow: column wrap;
  }

  h1 {
    margin: 1rem;
    text-align: center;
    word-break: break-word;
    width: 98%;
  }

  p {
    flex: 1;
    text-align: center;
    word-break: break-word;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
  }

  .book {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 230px;
  }

  img {
    width: 200px;
    height: 306px;
  }
}

@media all and (max-width: 500px) {
  body {
    font-size: 9px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0px;
    width: 95%;
  }

  span {
    padding: 1px;
  }

  .music {
    flex: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .countdown {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
  }

  h1 {
    text-align: center;
    word-break: break-word;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
  }

  .book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 161px;
  }

  p.buttontext,
  input#guess {
    margin: 0px 5px;
  }

  img {
    /* border: 3mm ridge #9b72aa; */
    width: 105px;
    height: 161px;
  }
}
